// ============= x-small =============
@media (max-width: 576px) {
	// ------ header ------
	.header {
		padding-top: 15px;
		height: 60px;
		width: 100%;
		&__container {
			width: 100%;
			height: 50px;
			gap: 20px;
		}
		&__logo {
			&-img {
				width: 200px;
				margin-left: 20px;
			}
		}
		&__search {
			width: 250px;
			height: 25px;
			input {
				display: none;
			}
			&-btn {
				right: 65px;
				top: 0px;
				background: #fff;
			}
			&-img {
				width: 20px;
			}
		}
	}

	// ------ nav ------
	.nav {
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		transition: 0.6s all;
		z-index: 10;
		&__active {
			left: 0;
		}
		&__item {
			&-link {
				color: #fff;
			}
		}
		&__list {
			flex-direction: column;
		}
	}
	.line {
		display: none;
	}
	.hamburger {
		display: block;
		position: absolute;
		right: 20px;
		top: 37px;
		transform: translateY(-50%);
		width: 20px;
		height: 12px;
		z-index: 10;
		span {
			display: block;
			height: 1px;
			width: 100%;
			background-color: #000;
			margin-bottom: 3px;
			transition: 0.5s all;
		}
		&__active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}

	// ------ promo ------
	.promo {
		margin-top: 60px;
		height: 100vh;
		&__text {
			width: 100%;
		}
		&__title {
			margin-left: 20px;
			font-size: 10px;
			margin-top: 100px;
			width: 180px;
		}
		&__subtitle {
			padding-left: 20px;
			width: 290px;
			font-size: 30px;
			line-height: 38px;
			height: 130px;
		}
		&__descr {
			padding-left: 20px;
			font-size: 15px;
			line-height: 21px;
			width: 290px;
			margin-top: 0;
		}
		&__slider {
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// ------ services ------
	.services {
		flex-direction: column;
		width: 100%;
		&__item {
			width: 100%;
			height: 80px;
			margin: 0 auto;
			&-descr {
				width: 129px;
				margin-left: 20px;
			}
		}
	}
}

// ============= small =============
@media (min-width: 576px) and (max-width: 767px) {
	// ------ header ------
	.header {
		padding-top: 15px;
		height: 60px;
		width: 100%;
		&__container {
			width: 100%;
			height: 50px;
			gap: 20px;
		}
		&__logo {
			&-img {
				width: 200px;
				margin-left: 20px;
			}
		}
		&__search {
			width: 250px;
			height: 25px;
			input {
				display: none;
			}
			&-btn {
				right: 65px;
				top: 0px;
				background: #fff;
			}
			&-img {
				width: 20px;
			}
		}
	}

	// ------ nav ------
	.nav {
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		transition: 0.6s all;
		z-index: 10;
		&__active {
			left: 0;
		}
		&__item {
			// color: #fff;
			&-link {
				color: #fff;
			}
		}
		&__list {
			flex-direction: column;
		}
	}
	.line {
		display: none;
	}
	.hamburger {
		display: block;
		position: absolute;
		right: 20px;
		top: 37px;
		transform: translateY(-50%);
		width: 20px;
		height: 12px;
		z-index: 10;
		span {
			display: block;
			height: 1px;
			width: 100%;
			background-color: #000;
			margin-bottom: 3px;
			transition: 0.5s all;
		}
		&__active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}
			}
		}
	}

	// ------ promo ------
	.promo {
		margin-top: 60px;
		height: 100vh;
		&__text {
			width: 100%;
		}
		&__title {
			margin-left: 30px;
			font-size: 10px;
			margin-top: 100px;
			width: 180px;
		}
		&__subtitle {
			padding-left: 30px;
			width: 500px;
			font-size: 40px;
			line-height: 38px;
			height: 130px;
		}
		&__descr {
			padding-left: 30px;
			font-size: 20px;
			line-height: 25px;
			width: 500px;
			margin-top: 0;
		}
		&__slider {
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// ------ services ------
	.services {
		flex-direction: column;
		width: 100%;
		&__item {
			width: 100%;
			height: 80px;
			margin: 0 auto;
			&-descr {
				width: 129px;
				margin-left: 20px;
			}
		}
	}
}

// ============= medium =============
@media (min-width: 768px) and (max-width: 991px) {
	// ------ header ------
	.header {
		&__container {
			width: 750px;
		}
		&__search {
			width: 300px;
		}
	}
	// ------ nav ------
	.nav {
		width: 100%;
		&__list {
			width: 740px;
		}
	}

	// ------ promo ------
	.promo {
		margin-top: 100px;
		height: 100vh;
		&__text {
			width: 100%;
		}
		&__title {
			margin-left: 30px;
			font-size: 11px;
			width: 180px;
		}
		&__subtitle {
			padding-left: 30px;
			width: 550px;
			font-size: 43px;
			line-height: 40px;
			height: 130px;
		}
		&__descr {
			padding-left: 30px;
			font-size: 23px;
			line-height: 27px;
			width: 550px;
			margin-top: 0;
		}
		&__slider {
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// ------ services ------
	.services {
		width: 770px;
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: start;
			width: 170px;
			height: 100px;
			margin: 0 auto;
			padding-top: 20px;
			padding-bottom: 20px;
			&-descr {
				width: 150px;
				margin-left: 0;
				text-align: center;
			}
		}
	}
}

// ============= large =============
@media (min-width: 992px) and (max-width: 1199px) {
	// ------ header ------
	.header {
		&__container {
			width: 950px;
		}
	}

	// ------ promo ------
	.promo {
		margin-top: 100px;
		height: 100vh;
		&__text {
			width: 100%;
		}
		&__title {
			margin-left: 30px;
			font-size: 11px;
			width: 180px;
		}
		&__subtitle {
			padding-left: 30px;
			width: 600px;
			font-size: 43px;
			line-height: 40px;
			height: 130px;
			margin-top: 20px;
		}
		&__descr {
			padding-left: 30px;
			font-size: 23px;
			line-height: 27px;
			width: 600px;
			margin-top: 20px;
		}
		&__slider {
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// ------ services ------
	.services {
		width: 990px;
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: start;
			// align-items: center;
			width: 170px;
			height: 100px;
			margin: 0 auto;
			padding-top: 20px;
			padding-bottom: 20px;
			&-descr {
				width: 150px;
				margin-left: 0;
				text-align: center;
			}
		}
	}
}

// ============= extra large =============
@media (min-width: 1200px) and (max-width: 1399px) {
	// ------ services ------
	.services {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: start;
			// align-items: center;
			width: 170px;
			height: 100px;
			margin: 0 auto;
			padding-top: 20px;
			padding-bottom: 20px;
			&-descr {
				width: 150px;
				margin-left: 0;
				text-align: center;
			}
		}
	}
}

// ============= extra extra large =============
@media (min-width: 1400px) {
}
