@import "vars";
@import "libs";
@import "fonts";

@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/services";

* {
	font-family: "Museo Sans Cyrl", sans-serif;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

input,
button {
	border: none;
}

.line {
	background: #000;
	opacity: 15%;
	height: 1px;
}

h1 {
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

@import "media";
