@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

@font-face {
	font-family: MonumentExtended-Black;
	src: url(/fonts/MonumentExtended-Black.woff2);
}
@font-face {
	font-family: MonumentExtended-Regular;
	src: url(/fonts/MonumentExtended-Regular.woff2);
}
@font-face {
	font-family: MonumentExtended-Light;
	src: url(/fonts/MonumentExtended-Light.woff2);
}

::selection {
	background: var(--first-color);
}
:root {
	--header-height: 3rem;
	--hue-color: 230;

	--first-color: hsl(var(--hue-color), 69%, 61%);
	--first-color-second: hsl(var(--hue-color), 69%, 61%);
	--first-color-alt: hsl(var(--hue-color), 57%, 53%);
	--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 15%);
	--text-color: hsl(var(--hue-color), 8%, 45%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--input-color: hsl(var(--hue-color), 70%, 96%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--container-color: #fff;
	--scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
	--skills-icon-color: rgb(35, 35, 35);
	--footer-links-color: hsl(var(--hue-color), 8%, 15%);

	--body-font: "Poppins", sans-serif;
	/* --body-font: "Fira Code", monospace; */
	/* --body-font: "Montserrat", sans-serif; */

	--biggest-font-size: 5.5rem;
	--big-font-size: 2.5rem;
	--h1-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
	--mb-3-5: 3.5rem;
	--mb-4: 4rem;
	--mb-6: 6rem;
	--mb-10: 10rem;

	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
	--first-color-second: hsl(var(--hue-color), 30%, 8%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 8%, 75%);
	--input-color: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 28%, 12%);
	--container-color: hsl(var(--hue-color), 29%, 16%);
	--scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
	--scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
	--skills-icon-color: rgb(252, 252, 252);
	--footer-links-color: hsl(var(--hue-color), 69%, 61%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
	font-size: 1.5rem;
	color: var(--title-color);
	margin-right: var(--mb-1);
	cursor: pointer;
}

.change-theme:hover {
	color: var(--first-color);
}

/*======================= BASE =======================*/
* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	/* background: linear-gradient(132deg, #ec5218, #1665c1);
	background-size: 400% 400%;
	animation: BackgroundGradient 30s ease infinite; */
}

@keyframes BackgroundGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1,
h2,
h3,
h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*======================= REUSABLE CSS CLASSES =======================*/
.section {
	height: auto;
}

.section__title {
	font-size: var(--h1-font-size);
	margin-bottom: var(--mb-3-5);
	font-family: "Roboto Mono", monospace;
	font-family: MonumentExtended-Black;
	letter-spacing: 2px;
	margin-top: var(--mb-10);
}

.section__subtitle {
	display: block;
	margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
	text-align: center;
}

/*======================= LAYOUT =======================*/
.container {
	max-width: 768px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	display: flex;
	justify-content: space-between;
	height: calc(var(--header-height) + 2.9rem);
}

/*======================= PRELOADER =======================*/
.preloader {
	height: 100vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.bubblingG {
	text-align: center;
	width: 80px;
	height: 50px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 25px auto;
	background: rgb(87, 110, 224);
	border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	animation: bubblingG 0.975s infinite alternate;
	-o-animation: bubblingG 0.975s infinite alternate;
	-ms-animation: bubblingG 0.975s infinite alternate;
	-webkit-animation: bubblingG 0.975s infinite alternate;
	-moz-animation: bubblingG 0.975s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
	-o-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.2895s;
	-o-animation-delay: 0.2895s;
	-ms-animation-delay: 0.2895s;
	-webkit-animation-delay: 0.2895s;
	-moz-animation-delay: 0.2895s;
}

#bubblingG_3 {
	animation-delay: 0.589s;
	-o-animation-delay: 0.589s;
	-ms-animation-delay: 0.589s;
	-webkit-animation-delay: 0.589s;
	-moz-animation-delay: 0.589s;
}

@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(87, 110, 224);
		transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color: rgb(87, 110, 224);
		transform: translateY(-21px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(87, 110, 224);
		-o-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color: rgb(87, 110, 224);
		-o-transform: translateY(-21px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(87, 110, 224);
		-ms-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color: rgb(87, 110, 224);
		-ms-transform: translateY(-21px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(87, 110, 224);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color: rgb(87, 110, 224);
		-webkit-transform: translateY(-21px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color: rgb(87, 110, 224);
		-moz-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color: rgb(87, 110, 224);
		-moz-transform: translateY(-21px);
	}
}

/*======================= NAV =======================*/
.nav {
	height: calc(var(--header-height) + 2.9rem);
	display: flex;
	justify-content: center;
	align-items: center;
	animation: subtitle-animation 10s 1;
	/* gap: 6rem; */
	width: 100%;
}

.circular-text {
	position: fixed;
	left: 200px;
	/* right: calc(100vw - 15rem); */
	/* left: auto; */
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	transition: 0.5s ease-out;
	animation: subtitle-animation 10s 1;
	color: var(--skills-icon-color);
}

.circle__icon {
	font-size: 2rem;
	color: var(--first-color);
	position: fixed;
	left: 183px;
	/* right: calc(100vw - 15.9rem); */
	/* left: auto; */
	margin-top: 18px;
	animation: subtitle-animation 10s 1;
}

.circle__icon-link {
	color: var(--first-color);
}

.circle__icon-link:hover {
	color: var(--title-color);
}

.nav__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nav__item {
	display: block;
	justify-content: center;
	align-items: center;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
}

.nav__link {
	display: flex;
	align-items: center;
	font-family: Montserrat;
	font-weight: 500;
	font-size: var(--h2-font-size);
	color: var(--title-color);
	transition: 1s;
}

.nav__link:hover {
	color: var(--first-color);
}

.nav__btns {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 70rem;
}

/* Show menu */
.show-menu {
	bottom: 0;
}

/* Active link */
.active-link {
	color: var(--first-color);
}

/* Change background header */
.scroll-header {
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*==================== HOME ====================*/
.home__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: calc(var(--header-height) + 5rem);
	height: 70vh;
}

.wave {
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.home__title {
	/* font-family: "Montserrat", sans-serif; */
	font-family: MonumentExtended-Regular;
	color: var(--title-color);
	font-size: 60px;
	text-align: center;
}

/*--------------- typewriter effect --------------- */
.line {
	width: 24em;
	top: 50%;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.anim-typewriter {
	animation: typewriter 3s steps(24) 1s 1 normal both, blinkTextCursor 500ms steps(24) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 14.5em;
	}
}

@media (max-width: 768px) {
	@keyframes typewriter {
		from {
			width: 0;
		}
		to {
			width: 14em;
		}
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}

.home__subtitle {
	text-align: center;
	font-size: var(--h1-font-size);
	color: var(--title-color);
	font-family: MonumentExtended-Regular;
	opacity: 0;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes title-animation {
	0% {
		color: var(--container-color);
		margin-bottom: -45px;
	}
	30% {
		letter-spacing: 10px;
		margin-bottom: -45px;
	}
	85% {
		letter-spacing: 4px;
		margin-bottom: -45px;
	}
}

@keyframes subtitle-animation {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	60% {
		opacity: 70%;
	}
	100% {
		opacity: 100%;
	}
}

.home__descr {
	margin-bottom: var(--mb-2);
}

.home__button {
	text-align: center;
}

.home__scroll {
	text-align: center;
	margin-top: var(--mb-4);
}

.home__scroll-button:hover {
	transform: translateY(0.25rem);
}

.home__scroll-name {
	font-size: var(--small-font-size);
	color: var(--title-color);
	font-weight: var(--font-medium);
	margin-right: var(--mb-0-25);
}

.home__scroll-down {
	position: absolute;
	left: 50%;
	bottom: 100px;
	display: block;
	text-align: center;
	font-size: 3rem;
	font-size: 20px;
	z-index: 0;
	text-decoration: none;
	text-shadow: 0;
	text-align: center;
	width: 13px;
	height: 13px;
	border-bottom: 4px solid var(--body-color);
	border-right: 4px solid var(--body-color);
	-webkit-transform: translate(-50%, 0) rotate(90deg);
	animation: moveDown 3s cubic-bezier(0.19, 1, 0.22, 1) 4s infinite;
}

@keyframes moveDown {
	0% {
		transform: translate(0, -20px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
		border-bottom-color: var(--first-color);
		border-right-color: var(--first-color);
	}
	100% {
		transform: translate(0, 20px) rotate(45deg);
		opacity: 0;
	}
}

.home__scroll-down:hover {
	color: #fff;
}

/*==================== BUTTONS ====================*/
.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;
	font-weight: var(--font-medium);
	transition: 1s;
}

.button:hover {
	background-color: var(--first-color-alt);
}

.button__icon {
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
	transition: 0.3s;
}

.button-flex {
	display: inline-flex;
	align-items: center;
	transition: 2s;
}

.button-flex:hover {
	transform: scale(1.1);
}

/*==================== ABOUT ====================*/
.about__container {
	margin: 0 auto;
}

.about__item {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 0 auto;
	margin-top: var(--mb-1-5);
}

.about__item-icon {
	vertical-align: middle;
	width: 3em;
	height: 3em;
	display: inline-block;
	line-height: 1em;
	flex-shrink: 0;
	color: currentcolor;
	fill: var(--first-color);
}

.about__item-descr {
	padding-left: 30px;
	font-size: var(--h2-font-size);
	color: var(--title-color);
}
/* ===================================== */

.about__descr-check {
	margin-top: var(--mb-2-5);
	text-align: center;
	font-size: var(--h2-font-size);
	color: var(--title-color);
}

.about__gif {
	display: block;
	margin: 0 auto;
}

.about__button {
	/* margin-top: var(--mb-2-5); */
	margin-top: 0;
	text-align: center;
}

.about__button:hover {
	color: var(--first-color-alt);
}

/*==================== SKILLS ====================*/
.skills__subtitle {
	text-align: center;
	margin-top: var(--mb-3-5);
	margin-bottom: var(--mb-2-5);
	font-family: "Poppins", sans-serif;
	color: var(--title-color);
	font-size: var(--h2-font-size);
}

.skills__container {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(3, 1fr);
	max-width: 900px;
	margin: 0 auto;
	place-items: center;
}

.skills__item {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	width: 7em;
	height: 7em;
}

.skills__item-icon {
	vertical-align: middle;
	width: 3em;
	height: 3em;
	display: inline-block;
	line-height: 1em;
	flex-shrink: 0;
	color: currentcolor;
	fill: var(--skills-icon-color);
}

.skills__item-icon-img {
	vertical-align: middle;
	height: 3.5em;
	display: inline-block;
}

.skills__item-title {
	margin-top: 1rem;
	margin-left: 0px;
	text-align: center;
	font-size: var(--h3-font-size);
	color: var(--title-color);
}

/*==================== PROJECTS ====================*/
.projects__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem 0rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	place-items: center;
	max-width: 90%;
	margin-top: var(--mb-6);
	margin-bottom: var(--mb-4);
}

.projects__item {
	width: 40rem;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
}

.projects__item:hover .projects__item-descr {
	visibility: visible;
	transition: 1.2s;
	-webkit-transition: 1.2s;
	transform: translatey(-160px);
	-webkit-transform: translatey(-160px);
	border-radius: 10px;
}
.projects__item:hover {
	transition: 1s;
	-webkit-transition: 1s;
}

.projects__item-img {
	width: 8000px;
	filter: brightness(95%);
	border-radius: 10px;
}

.projects__item-img:hover:before {
	opacity: 1;
}

.projects__item-descr {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: absolute;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.7);
	width: 35rem;
	height: 285px;
	top: 160px;
}

.projects__links {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.projects__item-text {
	margin: 0 20px 0 20px;
	text-align: center;
	color: #fff;
	font-size: var(--h3-font-size);
}

.projects__item-icon {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	color: #fff;
}

.projects__item-icon:hover {
	color: var(--first-color);
	transition: 0.5s;
}
/*==================== CONTACTS ====================*/
.contact {
	padding-bottom: 0;
}

.contact__container {
	display: flex;
	justify-content: space-between;
	/* margin-top: var(--mb-0-75); */
	margin-top: var(--mb-3-5);
	margin: 0 auto;
	max-width: 900px;
}

.contact__information {
	display: flex;
	margin-bottom: var(--mb-2);
}

.contact__icon {
	font-size: 2rem;
	color: var(--first-color);
	margin-right: var(--mb-0-75);
}

.contact__title {
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
}

.contact__subtitle {
	font-size: var(--h3-font-size);
	color: var(--title-color);
}

.contact__subtitle:hover {
	color: var(--footer-links-color);
	transition: 0.5s;
}

.contact__label {
	font-size: var(--smaller-font-size);
	color: var(--title-color);
}

.contact__content {
	background-color: var(--input-color);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem 0.25rem;
}

.contact__gif {
	text-align: center;
}
/*==================== FOOTER ====================*/
.footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Poppins", sans-serif;
}

.footer__bg {
	background-color: var(--first-color-second);
	padding: 3rem 0 3rem;
	margin-bottom: -48px;
}

.footer__links {
	display: flex;
	justify-content: center;
}

.footer__icon {
	display: block;
	margin-top: 6px;
	fill: #fff;
}

.footer__icon:hover {
	fill: var(--footer-links-color);
	transition: 0.5s;
}

.footer__icon-github {
	margin-top: 4px;
	fill: #fff;
}

.footer__icon-github:hover {
	fill: var(--footer-links-color);
	transition: 0.5s;
}

.footer__copy {
	display: block;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	min-width: 768px;
	text-align: center;
	margin-top: var(--mb-1-5);
	color: #fff;
}

.footer__copy:hover {
	color: var(--footer-links-color);
	transition: 0.5s;
}

.footer__link-name:hover {
	color: var(--footer-links-color);
	transition: 0.5s;
}

.footer__link {
	display: flex;
}

.footer__social-icon {
	color: #fff;
	font-size: 2rem;
	transition: all 0.15s ease-out 0s;
}

.footer__link-name {
	line-height: 1rem;
	font-size: var(--small-font-size);
	color: #fff;
	transition: all 0.15s ease-out 0s;
	padding: 0.5rem;
}

/*========== SCROLL UP ==========*/
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	background-color: var(--first-color);
	opacity: 0.8;
	padding: 0 0.3rem;
	border-radius: 0.4rem;
	z-index: var(--z-tooltip);
	transition: 0.4s;
}

.scrollup:hover {
	background-color: var(--first-color-alt);
}

.scrollup__icon {
	font-size: 1.5rem;
	color: #fff;
}

/* Show scroll */
.show-scroll {
	bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
	width: 0.6rem;
	background-color: var(--scroll-bar-color);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
	border-radius: 0.5rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 480px) {
	.section {
		height: auto;
	}
	.section__title {
		font-size: 1.5rem;
		margin-top: var(--mb-3-5);
		margin-bottom: 0;
	}
	.container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	.circular-text {
		right: calc(100vw - 4rem);
		left: auto;
	}
	.circle__icon {
		right: calc(100vw - 5rem);
		left: auto;
	}

	.nav__item-about,
	.nav__item-skills,
	.nav__item-contacts {
		display: none;
	}
	.nav__link {
		font-size: var(--h3-font-size);
	}
	.nav__list {
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-left: 40px;
	}
	.nav__btns {
		margin-left: calc(100vw - 5rem);
	}

	/* HOME */
	.home__container {
		width: 100%;
		margin-bottom: var(--mb-6);
	}
	.home__title {
		font-size: var(--h1-font-size);
	}

	.home__subtitle {
		font-size: var(--h2-font-size);
	}

	/* ABOUT */
	.about__container {
		min-width: 95%;
	}

	.about__item-icon {
		width: 2.5em;
		height: 2.5em;
	}

	.about__item-descr {
		font-size: var(--h3-font-size);
		margin-top: var(--mb-1);
	}

	.about__descr-check {
		margin-top: var(--mb-2-5);
		font-size: var(--h3-font-size);
	}

	.about__button {
		margin-top: var(--mb-1);
		padding-bottom: var(--mb-3);
		margin-bottom: var(--mb-3-5);
	}

	/* SKILLS */
	.skills {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: var(--mb-3-5);
		margin-bottom: var(--mb-2);
	}
	.skills__container {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		margin-bottom: var(--mb-3-5);
	}
	.skills__subtitle {
		margin-top: var(--mb-3-5);
		font-size: var(--h3-font-size);
	}
	.skills__item-title {
		font-size: var(--h4-font-size);
	}

	/* PROJECTS */
	.projects__title {
		width: 100%;
	}
	.projects__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: var(--mb-3-5);
		margin-bottom: var(--mb-3-5);
	}

	.projects__item {
		width: 20rem;
		text-align: center;
	}

	.projects__item-img {
		width: 20rem;
	}

	.projects__item-descr {
		width: 20rem;
		height: 173px;
		top: 160px;
	}

	.projects__item-icon {
		width: 20px;
		height: 20px;
	}

	.projects__item-text {
		font-size: var(--normal-font-size);
	}

	/* CONTACTS */
	.contact__container {
		flex-direction: column;
		margin-left: 6rem;
		margin-top: var(--mb-3-5);
		max-width: 900px;
	}

	.contact__title {
		font-size: var(--normal-font-size);
	}

	.contact__subtitle {
		font-size: var(--small-font-size);
	}

	/* FOOTER */
	.footer__copyright {
		font-size: var(--small-font-size);
		text-align: center;
		margin-top: var(--mb-1-5);
		color: var(--first-color);
	}
	.footer__copy {
		display: inline;
	}
}

/* For medium devices */
@media screen and (min-width: 481px) and (max-width: 767px) {
	.section {
		height: auto;
	}
	.circular-text {
		right: calc(100vw - 4rem);
		left: auto;
	}
	.circle__icon {
		right: calc(100vw - 5rem);
		left: auto;
	}
	.nav__list {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
	.nav__btns {
		margin-left: calc(100vw - 5rem);
	}
	.nav__link {
		font-size: var(--h3-font-size);
	}
	.nav__list {
		display: grid;
		justify-items: center;
		align-items: center;
		justify-content: center;
		align-content: center;
		grid-template-columns: 5em 5em 5em;
		grid-template-rows: 1em 1em;
	}
	.nav__item-contacts {
		grid-column: 1 / 3;
	}

	.section__title {
		margin-top: var(--mb-3-5);
		margin-bottom: 0;
		font-size: var(--h1-font-size);
	}
	.container {
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}

	/* HOME */
	.home__container {
		width: 100%;
		margin-bottom: var(--mb-6);
	}
	.home__title {
		font-size: var(--big-font-size);
	}

	.home__subtitle {
		font-size: var(--h1-font-size);
	}

	.home__scroll-down {
		margin-top: var(--mb-2);
	}

	@keyframes text {
		0% {
			color: var(--container-color);
			margin-bottom: -45px;
		}
		30% {
			letter-spacing: 5px;
			margin-bottom: -45px;
		}
		85% {
			letter-spacing: 1px;
			margin-bottom: -45px;
		}
	}

	/* ABOUT */
	.about__container {
		min-width: 95%;
	}

	.section__title-about {
		margin-top: var(--mb-0-25);
	}

	.about__item-icon {
		width: 2.5em;
		height: 2.5em;
	}

	.about__item-descr {
		font-size: var(--h2-font-size);
		margin-top: var(--mb-1);
	}

	.about__descr-check {
		margin-top: var(--mb-2-5);
		font-size: var(--h2-font-size);
	}

	.about__button {
		margin-top: var(--mb-1);
		padding-bottom: var(--mb-3);
		margin-bottom: var(--mb-3-5);
		font-size: var(--h2-font-size);
	}

	/* SKILLS */
	.skills {
		margin-bottom: var(--mb-3-5);
	}

	/* PROJECTS */
	.projects__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: var(--mb-3-5);
	}

	.projects__item {
		width: 30rem;
	}
	.projects__item-descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: absolute;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.7);
		width: 30rem;
		height: 259px;
		top: 160px;
	}
	.projects__item-icon {
		width: 25px;
		height: 25px;
	}

	/* CONTACTS */
	.contact__container {
		flex-direction: column;
		margin-left: 5rem;
		margin-top: var(--mb-3-5);
		max-width: 900px;
	}

	.contact__title {
		font-size: var(--h3-font-size);
	}

	.contact__subtitle {
		font-size: var(--h3-font-size);
	}

	.contact__information {
		margin-bottom: var(--mb-2-5);
	}

	/* FOOTER */
	.footer__copyright {
		font-size: var(--small-font-size);
		text-align: center;
		margin-top: var(--mb-1-5);
		color: var(--first-color);
	}
	.footer__copy {
		display: inline;
	}
}

@media screen and (min-width: 767px) and (max-width: 991px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	body {
		margin: 0;
	}
	.section__subtitle {
		margin-bottom: 4rem;
	}
	.header {
		top: 0;
		bottom: initial;
	}
	.header,
	.main,
	.footer__container {
		padding: 0 1rem;
	}

	.circular-text {
		right: calc(100vw - 4rem);
		left: auto;
	}
	.circle__icon {
		right: calc(100vw - 5rem);
		left: auto;
	}
	.nav__list {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
	.nav__btns {
		margin-left: calc(100vw - 5rem);
	}

	/* HOME */
	.home__content {
		padding-top: 5.5rem;
		column-gap: 2rem;
	}
	.home__scroll-button {
		margin-left: 3rem;
	}

	/* ABOUT  */
	.about__descr {
		text-align: center;
	}
	.about__buttons {
		justify-content: initial;
	}

	/* PROJECTS */
	.projects__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: var(--mb-3-5);
	}

	.projects__item {
		width: 45rem;
	}
	.projects__item-descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: absolute;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.7);
		width: 45rem;
		height: 389px;
		top: 160px;
	}

	/* FOOTER */
	.footer__container {
		grid-template-columns: repeat(3, 1fr);
	}
	.footer__links {
		flex-direction: row;
		column-gap: 2rem;
	}
}

/* For large devices */
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.circular-text {
		left: 80px;
	}
	.circle__icon {
		left: 63px;
	}
	.nav__btns {
		margin-left: 55rem;
	}

	/* PROJECTS */
	/* .projects__container {
		gap: 3rem 3rem;
	}
	.projects__item {
		width: 27rem;
	} */

	/* PROJECTS */
	.projects__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: var(--mb-3-5);
	}

	.projects__item {
		width: 50rem;
	}
	.projects__item-descr {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		position: absolute;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.7);
		width: 50rem;
		height: 431px;
		top: 160px;
	}
}

@media screen and (min-width: 1199px) {
	/* PROJECTS */
	.projects__container {
		gap: 3rem 3rem;
	}
	.projects__item {
		width: 33rem;
	}
}
