.nav {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	z-index: 5;
	&__item {
		display: block;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 18px;
		padding-top: 20px;
		padding-bottom: 21px;
		width: 130px;
		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
		}
		&:hover {
			cursor: pointer;
			background: $main-color;
			transition: 0.5s;
		}
		&:focus {
			background: $dark-color;
		}
		&:focus a {
			color: #fff;
		}
		&:hover a {
			color: #fff;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
	}
}
