.services {
	min-height: 121px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 1170px;
	&__item {
		width: 234px;
		// padding: 35px 0 35px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
			background: $gray-color;
			text-decoration: underline;
		}
		&-descr {
			width: 129px;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			margin-left: 15px;
			a {
				color: $dark-color;
			}
		}
	}
}

.next {
	height: 62px;
}
